<turbo-frame id="display">
  <div class="d-flex flex-row-reverse mb-3 ">
    <%= link_to "Show results", group_voting_display_results_path(voting_id: @voting.id), class: "toggle_link"  %>
  </div>
</turbo-frame>  
