<div class="container-fluid centered welcome">
  <div class="card shadow-sm p-3 text-center" style="width: 39rem;">
    <div class="h1 gradient">Welcome to Agora!</div>
    <div class="h3">App for voting and rating within your group</div>
  </div>
</div>

