<div class="container-fluid centered bg-img">
  <div class="card shadow-sm mt-4 mb-4 p-3 pb-0" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Create a new ballot</h5>
        <%= render 'form_voting', voting: @voting %>
    </div>
  </div>
<div>
